@import
'./shared',
'minx/src/reset',
'minx/src/elements',
'./grid';


html {
  overflow-y: scroll;
}

body {
  padding-bottom: 120px;
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background: rgba(200,200,255,.1);
}

.hide {
  display: none !important;
}
